@use "header";
@use "scrollbar";
@use "toastify";
@use "tables";
@use "charts";
@use "keyframes";
@use "media";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    padding: 20px;
}
