body {
    line-height: 33px;
    background: rgb(13, 17, 23);
    color: white;
    letter-spacing: 0.5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    color: rgb(47, 129, 247);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid #30363d;
    padding-bottom: 25px;
}

ul ol {
    list-style: lower-roman;
}

code {
    border-radius: 6px;
    padding: 3px 6px;
    background-color: rgb(52, 57, 66);
    font-size: 15px;
}
