.color-property {
    color: rgb(255, 0, 0);
}

.background-property {
    background: rgb(80, 80, 80);
}

.font-size-property {
    font-size: 20px;
}

.text-align-property {
    text-align: center;
}

.border-property {
    border: 2px solid rgb(51, 0, 255);
    border-radius: 10px;
}

.box-model-content {
    padding: 10px;
    border: 3px solid rgb(48, 46, 0);
    margin: 20px;
}

.opacity-property {
    opacity: 0.6;
}

.z-index-object1 {
    background-color: yellow;
    z-index: 1;
}

.z-index-object2 {
    background-color: green;
    z-index: 2;
}

.z-index-object3 {
    background-color: purple;
    z-index: 3;
}

/* display */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* -- */
    grid-template-rows: repeat(2, 100px); /* =  */
    grid-gap: 20px;
}
